* {
	box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
	background-image: url("../pictures/texturgrey.png");
	/*background-color: rgb(189, 188, 188);*/
	background-repeat: repeat;
}

h1{
	color: #ffffff;
	background-image: url("../pictures/Cool-Black-Pattern-Wallpaper.jpg");
	background-repeat: repeat-x;
	background-color: #5c0101;
	padding: .75em 0;
	margin-top: 1px;
	border-bottom: 1px;
	border-color: 	#3D3D5C;
	font-family: 'Rock Salt', 'cursive';
	font-size: 4.750em;
	text-align: center;
	text-shadow: 2px 3px .8px #b4b4b4;
	margin: 0;
}
/*h1 a {
	text-decoration: none;
}*/





footer {
   position:static;
	 border-top: 100px;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background:#171717
}
#keeper {
   position: static;
	 margin-top: 215px;

}

.dropdown-menu > li > a {color: #000000;}

.fa-twitter {
  color: white;
}
.fa-soundcloud {
  color: white;
}
.fa-facebook {
  color: white;
}
.fa-instagram {
  color: white;
}
.fa-envelope-o {
  color: white;
}
/*--------Font----------*/

h3 {
	font-family: 'Noto Serif', serif;
	color: white;

}

h4, small {
	font-family: 'Noto Serif', serif;
	color: white;

}

div a div h4 {
	text-align: center;
	font-size: 1em;
}

p {
	font-family: 'Noto Serif', serif;
	color: white;

}


a {
	font-family: 'Noto Serif', serif;
	color: white;

}


a:hover {
	font-family: 'Noto Serif', serif;
	color: #A30000;

}


.move-down {
	padding-top: 6px;
	padding-left: 60px;
}

.break {
	padding-top: 10px;
	border-bottom: 2px solid #b4b4b4;
}

.well {
	background: rgb(31, 31, 31);
}

.thumbnail {
    background: rgb(31, 31, 31);
}


#ender {
	padding-top: 25px;
	border-bottom: 2px solid #b4b4b4;
}

#bottom-ender {
	padding-top: 50px;
	border-bottom: 2px solid #b4b4b4;
}

#brand-size {
	height: 100%;
}

.pager li a{
	background-color: white;
	color: inherit;
}

form {
	text-align: center;
}
/*nav {
	margin-top: -15px;
	border-bottom: solid 2px #293329;

}

nav ul {
		height: 50px;


}

nav ul li {

	font-family: 'IM Fell English', sans-serif;
	font-size: 1.275em;

	float: left;
	display: inline-block;
	border: 2px solid #293329;
	padding: 5px 30px;


}
*/
/*.spacerton {

	background-color: #000000;
text-decoration: none;
	color: #A30000;

}

*/

/*
a:hover {
	color: #d6d6d6 ;
}*/

/*.clearfix {
    overflow: auto;
}


nav {
	border-color: #777777;*/*/


/*}
